body,
html {
    margin: 0;
    /* Remove a margem padrão do body e html. */
    padding: 0;
    /* Remove o preenchimento padrão do body e html. */
    height: 100%;
    /* Garante que body e html ocupem 100% da altura da janela. */
    font-family: sans-serif;
    /* Define a fonte padrão para a página. */

}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    /* Usa o modelo de layout Flexbox. */
    height: 100vh;
    /* Define a altura do container como 100% da altura da viewport. */
    width: 100vw;
    /* Define a largura do container como 100% da largura da viewport. */
}

.left-side {
    background: linear-gradient(-180deg, #7234b4, #7234b4, #ff3c5f);
    /* Define um gradiente linear como fundo. */
    color: white;
    /* Define a cor do texto como branco. */
    display: flex;
    /* Usa Flexbox para o layout interno. */
    flex-direction: column;
    /* Organiza os itens em coluna. */
    justify-content: center;
    /* Centraliza os itens verticalmente. */
    align-items: center;
    /* Centraliza os itens horizontalmente. */
    width: 50%;
    /* Define a largura como 50% do container pai. */
    padding: 40px;
    /* Adiciona preenchimento interno. */
    text-align: center;
    /* Alinha o texto ao centro. */
    position: relative;  /* Adicionado para posicionar o logo */
}

.left-side h1 {
    font-size: 40px; /* ou o valor que você estiver usando */
    line-height: 1.1; /* padrão é ~1.5, você pode reduzir */
    margin: 0; /* zera espaço extra externo */
}
  
.left-side p {
    font-size: 16px;
    line-height: 1.2; /*pode ajustar conforme seu gosto */
    margin: 0;
}

.right-side {
    background-color: #ffffff;
    /* Define a cor de fundo do. */
    display: flex;
    /* Usa Flexbox para o layout interno. */
    justify-content: center;
    /* Centraliza os itens horizontalmente. */
    align-items: center;
    /* Centraliza os itens verticalmente. */
    width: 50%;
    /* Define a largura como 50% do container pai. */
}

.login-box {
    background-color: rgb(255, 255, 255);
    /* Define a cor de fundo. */
    padding: 10px;
    /* Adiciona preenchimento interno. */
    border-radius: 10px;
    /* Arredonda os cantos. */
    box-shadow: 0 0 20px rgba(189, 19, 19, 0.1);
    /* Adiciona uma sombra à caixa. */
    width: 50%;
    /* Define a largura como 50% do container pai. */
    max-width: 400px;
    /* Define a largura máxima. */
    text-align: center;
    /* Alinha o texto ao centro. */
}

.login-box h2 {
    color: #7234b4;
    /* Define a cor do texto do h2. */
    margin-bottom: 10px;
    /* Adiciona margem abaixo do h2. */
    font-size: 2em;
    /* Define o tamanho da fonte do h2. */
}

.login-box p {
    color: #777;
    /* Define a cor do texto do parágrafo. */
    margin-bottom: 30px;
    /* Adiciona margem abaixo do parágrafo. */
}

.input-group {
    position: relative;
    display: flex;
    /* Usa Flexbox para o layout interno. */
    flex-direction: column;
    /* Organiza os itens em coluna. */
    margin-bottom: 20px;
    /* Adiciona margem abaixo do grupo de input. */
    text-align: left;
    /* Alinha o texto à esquerda. */
}

.input-group label {
    color: #000000;
    /* Define a cor do texto do label. */
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s;
    margin-bottom: 5px;
    /* Adiciona margem abaixo do label. */
}


.input-group input {
    color: #7234b4;
    background: transparent;
    padding: 0 1rem;
    height: 50px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    background-image: linear-gradient(white, white),
                      linear-gradient(45deg, #7234b4, #ff3c5f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}



input:focus~label,
input:valid~label {
    top: 0;
    background-color: #ffffff;
    font-size: 0.7rem;
}


.options {
    display: flex;
    /* Usa Flexbox para o layout interno. */
    justify-content: space-between;
    /* Distribui o espaço entre os itens. */
    align-items: center;
    /* Alinha os itens verticalmente. */
    margin-bottom: 20px;
    /* Adiciona margem abaixo das opções. */
    font-size: 0.9em;
    /* Define o tamanho da fonte das opções. */
    color: #7234b4;
    /* Define a cor do texto das opções. */
}

.options a {
    color: #7234b4;
    /* Define a cor do link. */
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado). */
}

.options a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao link ao passar o mouse. */
}

.options label {
    display: flex;
    /* Usa Flexbox para o layout interno. */
    align-items: center;
    /* Alinha os itens verticalmente. */
}

.options input[type="checkbox"] {
    margin-right: 5px;
    /* Adiciona margem à direita do checkbox. */
}

.login-box button {
    content: "";
    background: linear-gradient(
        45deg, 
        #7234b4,#7234b4 , #ff3c5f
    );
    /* Define um gradiente linear como fundo. */
    color: white;
    /* Define a cor do texto do botão. */
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(0.5px);
    /* Remove a borda do botão. */
    border-radius: 5px;
    /* Arredonda os cantos do botão. */
    padding: 15px 20px;
    /* Adiciona preenchimento interno ao botão. */
    font-size: 1.1em;
    /* Define o tamanho da fonte do botão. */
    cursor: pointer;
    /* Define o cursor como ponteiro ao passar o mouse. */
    width: 105%;
    /* Define a largura do botão como 100% do container pai. */
    transition: 0.3s ease;
    /* Adiciona uma transição suave ao fundo. */

    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

/*hover*/
.login-box button:hover::before {
    opacity: 1;
}

.login-box button:active:after {
    background: transparent;
}

.login-box button:active {
    color: #fff;
    font-weight: bold;
}

.signup-link {
    margin-top: 20px;
    /* Adiciona margem acima do link de cadastro. */
    color: #7234b4;
    /* Define a cor do texto do link de cadastro. */
}

.signup-link a {
    color: #7234b4;
    /* Define a cor do link de cadastro. */
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado). */
}

.signup-link a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao link de cadastro ao passar o mouse. */
}

.circle {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    /* Define a posição como absoluta. */
    border-radius: 50%;
    /* Define a forma como círculo. */
    opacity: 0.6;
    /* Define a opacidade. */
    animation: pulse 5s infinite alternate;
    /* Adiciona uma animação. */
}

.circle1 {
    background: radial-gradient(circle, #C86DD7, #7234b4);
    /* Define a cor de fundo com gradiente. */
    width: 150px;
    /* Define a largura. */
    height: 150px;
    /* Define a altura. */
    top: 10%;
    /* Define a posição do topo. */
    left: 15%;
    /* Define a posição da esquerda. */
}

.circle2 {
    background: radial-gradient(circle, #7234b4, #6E45E2);
    /* Define a cor de fundo. */
    width: 200px;
    /* Define a largura. */
    height: 200px;
    /* Define a altura. */
    top: 71%;
    /* Define a posição do topo. */
    right: 1%;
    /* Define a posição da direita. */
    animation-delay: 1s;
    /* Define o atraso da animação. */
}

.circle3 {
    background: radial-gradient(circle, #6E45E2, #88D3CE);
    /* Define a cor de fundo. */
    width: 100px;
    /* Define a largura. */
    height: 100px;
    /* Define a altura. */
    bottom: 5%;
    /* Define a posição do fundo. */
    left: 40%;
    /* Define a posição da esquerda. */
    animation-delay: 2s;
    /* Define o atraso da animação. */
    
}

.circle4 {
    background: radial-gradient(circle, #791516, #88D3CE);
    /* Define a cor de fundo. */
    width: 100px;
    /* Define a largura. */
    height: 100px;
    /* Define a altura. */
    bottom: 70%;
    /* Define a posição do fundo. */
    left: 40%;
    /* Define a posição da esquerda. */
    animation-delay: 2s;
    /* Define o atraso da animação. */
}

.circle5 {
    background: radial-gradient(circle, #a8e245, #bfd388);
    /* Define a cor de fundo. */
    width: 100px;
    /* Define a largura. */
    height: 40px;
    /* Define a altura. */
    bottom: 600;
    /* Define a posição do fundo. */
    left: 40%;
    /* Define a posição da esquerda. */
    animation-delay: 2s;
    /* Define o atraso da animação. */
}

.circle6 {
    background: radial-gradient(circle, #45e24a, #88D3CE);
    /* Define a cor de fundo. */
    width: 100px;
    /* Define a largura. */
    height: 100px;
    /* Define a altura. */
    bottom: 90;
    /* Define a posição do fundo. */
    left: 40%;
    /* Define a posição da esquerda. */
    animation-delay: 2s;
    /* Define o atraso da animação. */
}
@keyframes pulse {
    /* Define a animação 'pulse'. */
    0% {
        transform: scale(1);
        /* Define a escala inicial. */
        opacity: 0.6;
        /* Define a opacidade inicial. */
    }

    100% {
        transform: scale(1.1);
        /* Define a escala final. */
        opacity: 0.8;
        /* Define a opacidade final. */
    }
}

/* Responsividade */
@media (max-width: 768px) {
    /* Aplica estilos para telas com largura máxima de 768px. */
    .container {
        flex-direction: column;
        /* Organiza os itens em coluna. */
    }

    .left-side,
    .right-side {
        z-index: 2;
    position: relative; /* já tem no .left-side */
        width: 100%;
        /* Define a largura como 100%. */
        min-height: 50vh;
        /* Garante uma altura mínima para cada seção. */
    }

    .left-side {
        padding: 30px;
        /* Reduz o preenchimento interno. */
    }

    .right-side {
        padding: 30px 0;
        /* Reduz o preenchimento interno vertical. */
        align-items: flex-start;
        /* Alinha os itens ao início do container. */
        justify-content: center;
        /* Centraliza os itens horizontalmente. */
    }

    .login-box {
        box-shadow: 0 4px 15px rgba(114, 52, 180, 0.4);
        width: 90%;
        /* Aumenta a largura da caixa de login. */
        max-width: 350px;
        /* Define a largura máxima. */
        margin-top: 20px;
        /* Adiciona margem acima da caixa de login. */
    }

    .circle {
        display: none;
        /* Oculta os círculos. */
    }
}

.logomarca {
    width: 200px;         /* Ajuste o tamanho conforme necessário */
    height: auto;        /* Mantém a proporção */
    position: absolute;   /* Posiciona o logo */
    top: 50px;           /* Distância do topo */
    left: 50px;          /* Distância da esquerda */
}

/*Destaca campos com erro usando identação em vermelho */
.input-group.error input { 
    border-color: red;
}